<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="C:\Users\Eric Braun\Documents\Queen's Fourth Year\Winter 2017\Final Project 499\ta-application-site\css\application.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">
<<<<<<< HEAD

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>
					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.email %><br>
						<strong>password</strong>: <%= user.password %>
						<strong>fname</strong>: <%= user.fname %><br>
						<strong>lname</strong>: <%= user.lname %>
					</p>
=======
	<div class="mdd2e">
        <h1><span></span>T.A Application</h1>
		<div class="form-center">
			<label for "text-center">Upload Transcript</label>
    		<input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    		<small id="fileHelp" class="form-text text-muted">This will automatically fill in your courses and grades.</small>
 		</div>
  </div>
</div>
<div class="container">
<div class="row">
	<div class="col-sm-6">
  		<div class="col-sm-6">
  			<div class="text-center">
				<h1><span></span> Fall</h1>
>>>>>>> fc28e5c3a6e60924296cd1558a3bef9a2c9d904e
			</div>
    </div>
    <% for(var i = 0; i < 6; i++) { %>

      <div class="container pull-left">
        <div class="row">
          <div class="dropdown">
            <button class="btn dropdown-toggle pull-left" type="button" data-toggle="dropdown">Course Code
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
          <div class="col-2 col-sm-auto pull-left">
            <button type="button" class="btn btn-default">X</button>
          </div>
          <div class="col-4 col-sm-auto pull-left">
            <input class="form-control" id="Fg1" type="text">
          </div>
        </div>
      </div>
    <% } %>
            <div class="container pull-left">
        <div class="row">
          <div class="dropdown">
            <button class="btn dropdown-toggle pull-left" type="button" data-toggle="dropdown">Course Code
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
          <div class="col-1 col-sm-auto pull-left">
            <button type="button" class="btn btn-default">X</button>
          </div>
          <div class="col-4 col-sm-auto pull-left">
            <input class="form-control" id="Fg1" type="text">
          </div>
        </div>
      </div>
      <div class="container pull-left">
        <div class="row">
          <div class="dropdown">
            <button class="btn dropdown-toggle pull-left" type="button" data-toggle="dropdown">Course Code
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
          <div class="col-1 col-sm-auto pull-left">
            <button type="button" class="btn btn-default">X</button>
          </div>
          <div class="col-4 col-sm-auto pull-left">
            <input class="form-control" id="Fg1" type="text">
          </div>
        </div>
      </div>
            <div class="container pull-left">
        <div class="row">
          <div class="dropdown">
            <button class="btn dropdown-toggle pull-left" type="button" data-toggle="dropdown">Course Code
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
          <div class="col-1 col-sm-auto pull-left">
            <button type="button" class="btn btn-default">X</button>
          </div>
          <div class="col-4 col-sm-auto pull-left">
            <input class="form-control" id="Fg1" type="text">
          </div>
        </div>
      </div>
            <div class="container pull-left">
        <div class="row">
          <div class="dropdown">
            <button class="btn dropdown-toggle pull-left" type="button" data-toggle="dropdown">Course Code
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
          <div class="col-1 col-sm-auto pull-left">
            <button type="button" class="btn btn-default">X</button>
          </div>
          <div class="col-4 col-sm-auto pull-left">
            <input class="form-control" id="Fg1" type="text">
          </div>
        </div>
      </div>
            <div class="container pull-left">
        <div class="row">
          <div class="dropdown">
            <button class="btn dropdown-toggle pull-left" type="button" data-toggle="dropdown">Course Code
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
          <div class="col-1 col-sm-auto pull-left">
            <button type="button" class="btn btn-default">X</button>
          </div>
          <div class="col-4 col-sm-auto pull-left">
            <input class="form-control" id="Fg1" type="text">
          </div>
        </div>
      </div>
  </div>
    <div class="col-sm-6">
      <div class="col-sm-6 pull-right">
        <div class="text-center">
        <h1><span></span> Winter</h1>
      </div>
    </div>
      <div class="container pull-right">
        <div class="row">
          <div class="dropdown">
            <button class="btn dropdown-toggle pull-right" type="button" data-toggle="dropdown">Course Code
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
          <div class="col-1 col-sm-auto pull-right">
            <button type="button" class="btn btn-default">X</button>
          </div>
          <div class="col-4 col-sm-auto pull-right">
            <input class="form-control" id="Fg1" type="text">
          </div>
        </div>
      </div>
      <div class="container pull-right">
        <div class="row">
          <div class="dropdown">
            <button class="btn dropdown-toggle pull-right" type="button" data-toggle="dropdown">Course Code
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
          <div class="col-1 col-sm-auto pull-right">
            <button type="button" class="btn btn-default">X</button>
          </div>
          <div class="col-4 col-sm-auto pull-right">
            <input class="form-control" id="Fg1" type="text">
          </div>
        </div>
      </div>
            <div class="container pull-right">
        <div class="row">
          <div class="dropdown">
            <button class="btn dropdown-toggle pull-right" type="button" data-toggle="dropdown">Course Code
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
          <div class="col-1 col-sm-auto pull-right">
            <button type="button" class="btn btn-default">X</button>
          </div>
          <div class="col-4 col-sm-auto pull-right">
            <input class="form-control" id="Fg1" type="text">
          </div>
        </div>
      </div>
            <div class="container pull-right">
        <div class="row">
          <div class="dropdown">
            <button class="btn dropdown-toggle pull-right" type="button" data-toggle="dropdown">Course Code
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
          <div class="col-1 col-sm-auto pull-right">
            <button type="button" class="btn btn-default">X</button>
          </div>
          <div class="col-4 col-sm-auto pull-right">
            <input class="form-control" id="Fg1" type="text">
          </div>
        </div>
      </div>
            <div class="container pull-right">
        <div class="row">
          <div class="dropdown">
            <button class="btn dropdown-toggle pull-right" type="button" data-toggle="dropdown">Course Code
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
          <div class="col-1 col-sm-auto pull-right">
            <button type="button" class="btn btn-default">X</button>
          </div>
          <div class="col-4 col-sm-auto pull-right">
            <input class="form-control" id="Fg1" type="text">
          </div>
        </div>
      </div>
            <div class="container pull-right">
        <div class="row">
          <div class="dropdown">
            <button class="btn dropdown-toggle pull-right" type="button" data-toggle="dropdown">Course Code
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
          <div class="col-1 col-sm-auto pull-right">
            <button type="button" class="btn btn-default">X</button>
          </div>
          <div class="col-4 col-sm-auto pull-right">
            <input class="form-control" id="Fg1" type="text">
          </div>
        </div>
      </div>
  </div>
</div>
</div>
<div class="container">
	<div class="page-footer text-center">
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>
</div>
</body>
</html>
